.comment {
    border: 1px solid #ccc;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
}

.commentContent {
    font-size: 16px;
    margin-bottom: 5px;
}

.reply {
    margin-left: 20px;
    padding: 5px;
    background-color: #f5f5f5;
}

.replyContent {
    font-size: 14px;
    margin-bottom: 5px;
}

.replyInput {
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    box-sizing: border-box;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.viewReplies {
    font-size: 10px;
    color: blue;
    cursor: pointer;
}