.comment {
    border: 1px solid #ccc;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
}

.commentContent {
    font-size: 16px;
    margin-bottom: 5px;
}

.reply {
    margin-top: 10px;
    margin-left: 20px;
}

.replyContent {
    font-size: 14px;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    padding: 10px;
}

.replyInputContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;
}

.replyInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 180px;
    border: 0.5px dotted grey;
    border-radius: 10px;
    padding: 5px;
    height: 30px;
    margin-left: 20px;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.viewReplies {
    font-size: 10px;
    color: blue;
    cursor: pointer;
}

.userName {
    color: rgb(158, 0, 0);
    font-size: 15px;
}