.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

.heading {
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.input {
    width: 400px;
    height: 45px;
    font-size: 18px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
}

.input[disabled] {
    color: grey;
    cursor: not-allowed;
}

.button {
    width: 400px;
    height: 45px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #4796ff;
    color: #ffffff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 15px;
}

.secondCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    width: 100vw;
    padding: 0 20px 20px 20px;
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

.success {
    color: green;
    font-size: 14px;
    text-align: center;
}

.reset {
    text-decoration: underline;
    color: #4796ff;
    cursor: pointer;
}

.otpInput{
    width: 100%;
}