.topic {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 650px;
    margin-bottom: 30px;
    padding: 20px;
    text-align: left;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.topicContent {
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 5px;
    font-weight: bold;
    margin-left: 5px;
}

.commentInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 180px;
    height: 38px;
    border: 0.5px dotted grey;
    border-radius: 10px;
    padding: 5px;
}

.commentInputContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    margin-top: 25px;
}

.button {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:not(:disabled):hover,
.button:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.button:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}


.icon {
    width: 16px;
}

.iconContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    margin-top: 6px;
    margin-left: 5px;
}

.commentContainer {
    margin-top: 8px;
    padding: 5px;
    border-radius: 5px;
}

.name {
    font-size: 22px;
    font-weight: bold;
    color: #00ABE4;
    margin-bottom: 5px;
    border-bottom: 0.5px dashed grey;
}